[Desktop Entry]
GenericName=Text anywhere, anytime and on any device!
GenericName[de]=SMS anywhere, anytime and on any device!
GenericName[es]=SMS anywhere, anytime and on any device!
GenericName[fr]=SMS anywhere, anytime and on any device!
GenericName[it]=SMS anywhere, anytime and on any device!
Name=mysms
Name[de]=mysms
Name[es]=mysms
Name[fr]=mysms
Name[it]=mysms
MimeType=text/plain;
Exec=mysms
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=mysms
Type=Application
Terminal=false
InitialPreference=9
Categories=Network;Telephony;
