Source: mysms
Section: utils
Priority: extra
Maintainer: Gernot Pansy <gernot.pansy@ut11.net>
Build-Depends: debhelper (>= 8.0.0),
               libqt4-dev (>> 4.5.0),
               libqtwebkit-dev,
               libphonon-dev
Standards-Version: 3.9.4
Homepage: http://www.mysms.com
Vcs-Git: git://github.com/mysms/mysms-desktop-app.git

Package: mysms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Text anywhere, anytime and on any device!
 mysms is a handy and reliable utility designed to enable you to send and receive SMS messages on your computer.
 Send SMS messages like on your smartphone.
 NOTE: This app is not self-contained. To be able to use mysms, you have to have the mysms Android application installed.
 Here are some key features of "mysms":
 Text on your computer:
 · Send and receive text messages on your computer from any browser.
 Your text messages anywhere:
 · Sync texts between your smartphone, tablet and computer.